<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Monkeys!{% endblock %}</title>
  {% block script %}{% endblock %}
</head>
<body>
  <header>
    {% if user.is_authenticated %}
      {{ user.username }} :
      <a href="{% url 'home' %}">home</a>
      <a href="{% url 'contact' %}">contact</a>
      <a href="{% url 'profile' %}">profile</a>
      {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">admin</a>
      {% endif %}
      <a href="{% url 'logout' %}">logout</a>
    {% else %}
      <a href="{% url 'login' %}">login</a>
      <a href="{% url 'register' %}">register</a>
    {% endif %}
  </header>
  <hr>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
