{% extends 'base.html' %}

{% block title %}Monkey Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Greetings {{ user.username }}!<br></h2>
    Please choose from one of the following dies to work on...<br>
    <h3>
    {% for die in dieList %}
      <a href="{% url 'typer:index' die %}">{{die}}</a>
      &nbsp--&nbsp
      <a href="{% url 'typer:dieInstructions' die %}">instructions</a>
      &nbsp--&nbsp
      <a href="{% url 'typer:dieSpecificUserStatistics' die user %}">statistics</a>
      {% if user.is_superuser %}
        &nbsp--&nbsp
        <a href="{% url 'typer:adminSummaryHome' die %}">[[results</a>
        &nbsp--&nbsp
        <a href="{% url 'typer:adminStatistics' die %}">statistics]]</a>
      {% endif %}
      <br />
    {% endfor %}
  </h3>
  {% else %}
    <h3>
    {{ introText | safe }}<br />
    Please either <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> for an account before the typing can begin.
    </h3>
  {% endif %}
{% endblock %}
