{% extends 'base.html' %}

{% block title %}Monkey Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <h2>Greetings {{ user.username }}!<br></h2>
    Please choose from one of the following dies to work on...<br>
    {% for die in dieList %}
      <h3><a href="{% url 'typer:index' die %}">{{die}}</a>
      &nbsp--&nbsp
      <a href="{% url 'typer:dieInstructions' die %}">instructions</a>
      {% if user.is_superuser %}
        &nbsp--&nbsp
        <a href="{% url 'typer:summaryHome' die %}">[[results]]</a>
      {% endif %}
      </h3>
      <br>
    {% endfor %}
  {% else %}
    <h3>
    {% include "home_local.html" %}
    Please either <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> for an account before the typing can begin.
    </h3>
  {% endif %}
{% endblock %}
