{% extends 'base.html' %}

{% block title %}Administrative statistics for {{die.name}}{% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <h2>Hello administrator - here are some statistics {{die.name}}</h2>
    {{ allTypedCount }} of the {{ allFieldCount }} fields have been typed.<br /><br />

    <b>Leaderboard :</b><br />
    <table cellpadding=0 cellspacing=0 border=0 width=15%>
    {% for user, score in scoreboard %}
    <tr>
      <td> {{ user }} </td>
      <td> {{ score }} </td>
    </tr>
    {% endfor %}
    </table>
  {% else %}
    <h2>You must be a super user to see this administrative statistics page.</h2>
  {% endif %}
{% endblock %}
