{% extends 'base.html' %}

{% block title %}Typing {{die.name}}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      <h2>You, the administrator, are looking at die image {{dieImage.image.url}} and entry field {{typedDie.id}}</h2><br>
    {% endif %}
    {% if error %}
      An error has been detected.  Please fix the following error and submit again<br>
      <b>{{error}}</b><br>
    {% endif %}
    <table cellspacing=0 border=0>
    <tr>
    <td valign="top">
    {% load static %}
    <img src="{% static dieImage.image.url %}">
    </td>
    <form action="" method="post">
    {% csrf_token %}
      <td valign="top">
      {{form.typedField}}<br>
      <input type="submit" name="submitButton" value="Submit" />
      </td>
      {# Pass some hidden information on to the POST - must be in the form tag #}
      <input type="hidden" name="dieField" value="{{typedDie.id}}" />
    </form>
    </tr>
    </table>
  {% else %}
    <h2>Please either <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> for an account before the typing can begin.</h2>
  {% endif %}
{% endblock %}
