{% extends 'base.html' %}

{% block title %}Typing {{die.name}}{% endblock %}
{% block script %}
<script> 
function ButtonClick_AllZeros()
  {document.getElementById("id_typedField").value= '00000000\n00000000\n00000000\n00000000\n00000000\n00000000\n00000000\n00000000';}   
function ButtonClick_AllOnes()
  {document.getElementById("id_typedField").value= '11111111\n11111111\n11111111\n11111111\n11111111\n11111111\n11111111\n11111111';}
</script>
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    {% if user.is_staff %}
      <h2>You, the administrator, are looking at die image <i>{{dieImageBasename}}</i> and entry field {{typedDie.id}}</h2><br>
    {% endif %}
    {% if error %}
      An error has been detected.  Please fix the following error and submit again<br>
      <b>{{error}}</b><br>
    {% endif %}
    <table cellspacing=0 border=0>
    <tr>
    <td valign="top">
    {% load static %}
    <img src="{% static dieImage.image.url %}">
    </td>
    <form action="" method="post">
    {% csrf_token %}
      <td valign="top">
      {{form.typedField}}<br>
      <input type="submit" name="submitButton" value="Submit" />
      &nbsp&nbsp
      <input type="button" value="All Zeros" name="allZeros" onclick="ButtonClick_AllZeros()">
      &nbsp
      <input type="button" value="All Ones" name="allOnes" onclick="ButtonClick_AllOnes()">
      </td>
      {# Pass some hidden information on to the POST - must be in the form tag #}
      <input type="hidden" name="dieField" value="{{typedDie.id}}" />
    </form>
    </tr>
    </table>
  {% else %}
    <h2>Please either <a href="{% url 'login' %}">login</a> or <a href="{% url 'register' %}">register</a> for an account before the typing can begin.</h2>
  {% endif %}
{% endblock %}
