{% extends 'base.html' %}

{% block title %}Summary for {{die.name}}{% endblock %}

{% block content %}
  {% if user.is_superuser %}
    <h2>These are the results for die image <i>{{dieImageBasename}}</i> under die <i>{{die.name}}</i></h2><br>
    <table cellspacing=0 cellpadding=0 border=0>
    <tr>

    <td valign="top">
      <table>
      <tr>
      <td valign="top">
        {% load static %}
        <img src="{% static dieImage.image.url %}">
      </td>
      </tr>
      </table>
    </td>

    {% for tField, submitter, time, index in dieInfoArray %}
    <td valign="top">
      <form action="" method="post">
      <table cellspacing=0 cellpadding=0 border=0>
      {% csrf_token %}
      <tr>
        <td valign="top"> <code>{{ tField.typedField }}</code> </td>
      </tr>
      <tr>
        <td valign="top"> {{submitter}} </td>
      </tr>
      <tr>
        <td valign="top"> {{time | safe}} </td>
      </tr>
      <tr>
        <td valign="top"> <input type="submit" name="saveButton{{index}}" value="Save" /> </td>
      </tr>
      <tr>
        <td valign="top"> <input type="submit" name="clearButton{{index}}" value="Clear" /> </td>
      </tr>
      </table>
      </form>
    </td>
    {% endfor %}

    </tr>
    </table>
  {% else %}
    <h2>You must be a super user to see this submission summary page.</h2>
  {% endif %}
{% endblock %}
